@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400");
body {
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  position: relative;
  font-family: 'Montserrat', sans-serif; }

.container-fluid {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  background: url("img/aj.png") center bottom no-repeat/cover;
  bottom: 0;
  position: fixed;
  z-index: 0;
  height: 100%;
  background-size: 85%; }
  .container-fluid:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(150, 150, 150, 0.5), rgba(200, 200, 200, 0.5)); }
